@font-face {
  font-family: Inter, Arial, "Times New Roman";
  font-weight: 300;
  src: url("fonts/Inter-Light.ttf");
}

@font-face {
  font-family: Inter, Arial, "Times New Roman";
  font-weight: 400;
  src: url("fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter, Arial, "Times New Roman";
  font-weight: 400;
  src: url("fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter, Arial, "Times New Roman";
  font-weight: 700;
  src: url("fonts/Inter-Bold.ttf");
}

.app-index {
  font-family: Inter, Arial, "Times New Roman";
}

.app-index .index-header .navBar .navbar-logo {
  max-height: 100px;
}

.app-index .index-header .navbar-custom {
  background-color: #00468a;
}

.app-index .index-main .welcome-modal h1 {
  font-weight: 700;
  text-align: center;
}

.app-index .index-main .main-hero {
  padding: 0.5rem;
  margin: 0.5rem;
}

.app-index .index-main .main-hero .hero-logo {
  width: 16rem;
  height: 11rem;
  margin-bottom: 0.7rem;
}

.app-index .index-main .main-hero .hero-h1 {
  font-weight: 700;
}

.app-index .index-main .quiz-jumbo {
  background-color: #d63031;
}

.app-index .index-main .quiz-jumbo .quiz-form-box {
  background-color: #f8f8f8;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: auto;
}

.app-index .index-main .quiz-jumbo .quiz-form-box .student-id {
  margin-top: 1rem;
}

.app-index .index-main .quiz-jumbo .quiz-form-box .error-msg {
  font-size: 0.9rem;
  color: red;
}

.app-index .index-main .quiz-jumbo .slogan-box {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.app-index .index-main .quiz-jumbo .slogan-box h3 {
  color: #f8f8f8;
}

.app-index .index-main .degree-section {
  margin-top: 2rem;
}

.app-index .index-main .blog-section {
  margin-top: 5rem;
}

.app-index .index-main .blog-section .owl-carousel {
  text-align: center;
}

.app-index .index-main .blog-section .owl-carousel h3 {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.app-index .index-main .blog-section .owl-carousel h4 {
  font-size: 0.9rem;
  font-weight: 700;
}

.app-index .index-main .slogan-section h1 {
  font-weight: 700;
  margin-top: 5rem;
}

.app-index .index-footer {
  background-color: #00468a;
  color: #f8f8f8;
  padding: 1.7rem;
  margin-top: 5rem;
}

.app-index .index-footer .rights {
  margin-top: 3rem;
}

.app-index .index-footer .contact-list dd {
  margin-left: 0.7rem;
}

@media only screen and (min-width: 768px) {
  .app-index .index-main .quiz-jumbo .slogan-box {
    margin-top: 4rem;
  }
}

.app-quiz {
  font-family: Inter, Arial, "Times New Roman";
}

.app-quiz .quiz-header .navBar .navbar-logo {
  max-height: 100px;
}

.app-quiz .quiz-header .navbar-custom {
  background-color: #00468a;
}

.app-quiz .quiz-main .quiz-main-text {
  margin-top: 3rem;
}

.app-quiz .quiz-main .quiz-main-text h1 {
  color: #34a752;
  font-weight: 700;
  font-size: 2rem;
}

.app-quiz .quiz-main .quiz-main-text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #00468a;
}

.app-quiz .quiz-main .quiz-main-text p {
  color: #d63031;
  font-size: 2rem;
}

.app-quiz .quiz-main .quiz-form-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  padding: 2rem;
  text-align: left;
  margin-top: 3rem;
}

.main-blue {
  color: #00468a;
}

.main-red {
  color: #d63031;
}

.main-green {
  color: #34a752;
}

.main-yellow {
  color: #fbbc05;
}

.app-my-creative-page {
  font-family: Inter, Arial, "Times New Roman";
}

.app-my-creative-page .creative-header .navBar .navbar-logo {
  max-height: 100px;
}

.app-my-creative-page .creative-header .navbar-custom {
  background-color: #00468a;
}

.app-my-creative-page .creative-main .countdown-hero #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.app-my-creative-page .creative-main .countdown-hero .count-down {
  font-weight: 700;
  font-size: 5rem;
  margin-top: 5rem;
}

.app-my-creative-page .creative-main .countdown-hero h2 {
  font-weight: 700;
  font-size: 3.4rem;
}

.app-my-creative-page .creative-main .countdown-hero p {
  font-size: 2rem;
}

.app-my-creative-page .creative-main .timeline-section {
  background-color: #e9ecef;
  padding: 3rem;
}

.app-my-creative-page .creative-main .timeline-section #youtubeEmbeded {
  border-radius: 25px;
}

.app-my-creative-page .creative-main .timeline-section .coid-data .stats {
  font-size: 0.9rem;
}

.app-my-creative-page .creative-main .timeline-section .coid-data .date-and-src {
  font-size: 0.6rem;
}

.app-my-creative-page .creative-main .timeline-section ul,
.app-my-creative-page .creative-main .timeline-section li {
  list-style: none;
  padding: 0;
}

.app-my-creative-page .creative-main .timeline-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  padding: 3rem 0;
}

.app-my-creative-page .creative-main .timeline-section .wrapper {
  background: #eaf6ff;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.app-my-creative-page .creative-main .timeline-section h1 {
  font-size: 1.1rem;
  font-family: sans-serif;
}

.app-my-creative-page .creative-main .timeline-section .sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.app-my-creative-page .creative-main .timeline-section li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.app-my-creative-page .creative-main .timeline-section li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.app-my-creative-page .creative-main .timeline-section li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.app-my-creative-page .creative-main .timeline-section .time {
  color: #2a2839;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 601px) {
  .app-my-creative-page .creative-main .timeline-section .time {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .app-my-creative-page .creative-main .timeline-section .time {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}

.app-my-creative-page .creative-main .timeline-section p {
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 0.4rem;
}

@media screen and (max-width: 600px) {
  .app-my-creative-page .creative-main .timeline-section p {
    font-size: 0.9rem;
  }
}

.app-my-creative-page .creative-footer {
  background-color: #00468a;
  color: #f8f8f8;
  padding: 1.7rem;
  margin-top: 5rem;
}

.app-my-creative-page .creative-footer .rights {
  margin-top: 3rem;
}

.app-my-creative-page .creative-footer .contact-list dd {
  margin-left: 0.7rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .app-my-creative-page .creative-main .countdown-hero .count-down {
    font-size: 2rem;
  }
}

.dark-mode .app-index {
  background-color: #121212;
}
/*# sourceMappingURL=style.css.map */