$primary-font: Inter, Arial, "Times New Roman";
$font-color: rgb(248, 248, 248);

//font-weights
$font-size-light: 300;
$font-size-regular: 400;
$font-size-bold: 700;

//primary colors
$main-blue: #00468a;
$main-red: #d63031;
$main-green: #34a752;
$main-yellow: #fbbc05;

//dark mode colors
$darkmode-bg-color: #121212;
