.app-dev-page {
	font-family: $primary-font;
	font-weight: 400;
	// background: rgb(255, 255, 255);
	// color: #fff;
	margin: 0;
	padding: 0;

	.dev-page-header {
		.dev-page-nav {
			padding: 10px;
			display: grid;
			grid-template-columns: 1fr max-content;
			align-items: center;
			background-color: $main-blue;

			p {
				a {
					font-size: 1.3rem;
					color: $font-color;
					text-decoration: none;
				}
			}

			.main-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 5rem;
				width: 5rem;
			}

			.btn-primary {
				background: $main-blue;
				&.btn-abc {
					background: $main-blue;
				}
			}

			.main-nav {
				position: relative;
				.nav-icon {
					background: transparent;
					border: 0;
					cursor: pointer;
					padding: 10px;
					span {
						height: 2px;
						width: 15px;
						background: #fff;
						display: block;
						+ span {
							margin-top: 2px;
						}
					}
				}
				.nav-list {
					position: absolute;
					right: -10px;
					top: 30px;
					background: $main-blue;
					width: 200px;
					padding: 10px;
					height: calc(100vh - 60px);
					display: none;
					&.open {
						display: block;
					}
					ul {
						color: $main-blue;
						> li {
							> a {
								padding: 10px;
								display: block;
								color: #ffffff;
								font-size: 12px;
								text-align: right;
								text-decoration: none;
							}
							text-transform: uppercase;
							border-bottom: 1px solid #7d7d7d;
						}
					}
				}
			}
		}
	}

	.dev-page-main {
		.hero {
			display: flex;
			margin: auto;
			margin-top: 4rem;
			padding: auto;
			flex-direction: column;

			.hero-img {
				margin: auto;
				padding: auto;
				img {
					width: 10rem;
				}
			}

			.hero-content {
				margin: auto;
				margin-top: 3rem;
				padding: auto;
				text-align: center;

				h1 {
					font-size: 2rem;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}

		.potofolio-section {
			background-color: rgb(235, 235, 235);
			margin-top: 4rem;
			padding: 1rem;

			h1 {
				font-weight: $font-size-bold;
				text-align: center;
				font-size: 2rem;
				color: $main-blue;
			}
			.row {
				display: flex;
				flex-wrap: wrap;
				padding: 0 4px;
				padding-bottom: 4rem;
			}

			.column {
				flex: 25%;
				max-width: 25%;
				padding: 0 4px;

				img {
					margin-top: 8px;
					vertical-align: middle;
					width: 100%;
				}
			}
		}
	}

	.dev-page-footer {
		padding: 2rem;
		background-color: $main-blue;
		color: $font-color;
	}
}

@media only screen and (min-width: 1200px) {
	.app-dev-page {
		.dev-page-header {
			.dev-page-nav {
				.main-nav {
					.nav-icon {
						display: none;
					}
					.nav-list {
						position: static;
						display: block;
						width: auto;
						height: auto;
						> ul {
							display: flex;
							> li {
								border-bottom: 0;
							}
						}
					}
				}
			}
		}

		.dev-page-main {
			.hero {
				flex-direction: row;
			}

			.potofolio-section {
				h1 {
					font-size: 4rem;
				}
				.row {
					margin-left: 20rem;
					margin-top: 5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.app-dev-page {
		.dev-page-main {
			.potofolio-section {
				margin-left: 0rem;

				.column {
					flex: 50%;
					max-width: 50%;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.app-dev-page {
		.dev-page-main {
			.potofolio-section {
				margin-left: 0rem;
				.column {
					flex: 100%;
					max-width: 100%;
				}
			}
		}
	}
}
