.app-index {
	font-family: $primary-font;

	.index-header {
		.navBar {
			background-color: black;
			.navbar-logo {
				max-height: 100px;
			}
		}
	}
}

@media only screen and (min-width: 575px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
