//for the random color selections.
.main-blue {
	color: $main-blue;
}

.main-red {
	color: $main-red;
}

.main-green {
	color: $main-green;
}

.main-yellow {
	color: $main-yellow;
}

.app-my-creative-page {
	@include MainBody;

	.creative-header {
		@include NavBar($main-blue);
	}

	.creative-main {
		.countdown-hero {
			#particles-js {
				position: absolute;
				//left: 0px;
				//top: 0px;
				width: 100%;
				height: 100%;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: auto;
				background-position: center;
			}

			.count-down {
				font-weight: $font-size-bold;
				//color: $main-green;
				font-size: 5rem;
				margin-top: 5rem;
			}

			h2 {
				font-weight: $font-size-bold;
				font-size: 3.4rem;
			}

			p {
				font-size: 2rem;
			}
		}

		.timeline-section {
			background-color: #e9ecef;
			padding: 3rem;

			#youtubeEmbeded {
				border-radius: 25px;
			}

			@mixin tablet-and-up {
				@media screen and (min-width: 769px) {
					@content;
				}
			}
			@mixin mobile-and-up {
				@media screen and (min-width: 601px) {
					@content;
				}
			}
			@mixin tablet-and-down {
				@media screen and (max-width: 768px) {
					@content;
				}
			}
			@mixin mobile-only {
				@media screen and (max-width: 600px) {
					@content;
				}
			}

			.coid-data {
				.stats {
					font-size: 0.9rem;
				}
				.date-and-src {
					font-size: 0.6rem;
				}
			}

			ul,
			li {
				list-style: none;
				padding: 0;
			}

			.container {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 1rem;
				//background: linear-gradient(45deg, #209cff, #68e0cf);
				padding: 3rem 0;
			}
			.wrapper {
				background: #eaf6ff;
				border-radius: 0.8rem;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				padding: 2rem;
			}
			h1 {
				font-size: 1.1rem;
				font-family: sans-serif;
			}
			.sessions {
				margin-top: 2rem;
				border-radius: 12px;
				position: relative;
			}
			li {
				padding-bottom: 1.5rem;
				border-left: 1px solid #abaaed;
				position: relative;
				padding-left: 20px;
				margin-left: 10px;
				&:last-child {
					border: 0px;
					padding-bottom: 0;
				}
				&:before {
					content: "";
					width: 15px;
					height: 15px;
					background: white;
					border: 1px solid #4e5ed3;
					box-shadow: 3px 3px 0px #bab5f8;
					box-shadow: 3px 3px 0px #bab5f8;
					border-radius: 50%;
					position: absolute;
					left: -10px;
					top: 0px;
				}
			}
			.time {
				color: #2a2839;
				font-family: "Poppins", sans-serif;
				font-weight: 500;
				@include mobile-and-up {
					font-size: 0.9rem;
				}
				@include mobile-only {
					margin-bottom: 0.3rem;
					font-size: 0.85rem;
				}
			}
			p {
				color: #4f4f4f;
				font-family: sans-serif;
				line-height: 1.5;
				margin-top: 0.4rem;
				@include mobile-only {
					font-size: 0.9rem;
				}
			}
		}
	}

	.creative-footer {
		@include Footer(0.1rem, $main-blue);
	}
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	.app-my-creative-page {
		.creative-main {
			.countdown-hero {
				.count-down {
					font-size: 2rem;
				}
			}
		}
	}
}
